@mixin button {
	-webkit-appearance: none;
	border-radius: .1rem;
	border: none;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.5;
	padding: .5rem 1rem;
	text-decoration: none;
	transition: background-color .15s ease-out;
    -moz-appearance: none;
    background-color:$blue;
    border-color: $blue;
    box-shadow: 0 0.125rem 0.25rem rgb(23 31 56 / 8%);
    color: $white;

	&:focus,
	&:hover {
		background-color: $blue-dark;
	}
}



@mixin button--inverse {
	border-radius: .1rem;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.5;
	padding: .5rem 1rem;
	text-decoration: none;
	transition: background-color .15s ease-out;
    background-color: $white;
    border-color: $white;
    box-shadow: 0 0.125rem 0.25rem rgb(23 31 56 / 8%);
    color: $blue;

	&:focus,
	&:hover {
		border-color: $white;
		color: $white;
		background-color: $blue;

		&::after {
			background-image: url('/assets/images/icons/arrow.svg') !important;
		}
	}

	&::after {
		background-image: url('/assets/images/icons/arrow-blue.svg') !important;
	}
}

@mixin button--secondary {
	background-color: $blue-lighter;

	&:focus,
	&:hover {
		background-color: $blue-dark;
	}
}

@mixin button--arrow {
	padding-right: 2.5rem;
	position: relative;

	&::after {
		background-image: url('/assets/images/icons/arrow.svg');
		background-repeat: no-repeat;
		border-radius: 50%;
		content: '';
		display: block;
		height: 12px;
		position: absolute;
		position: absolute;
		right: 0;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		width: 14px;
	}
}