@mixin button {
	-webkit-appearance: none;
	border-radius: 30px;
	border: none;
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	padding: .5rem 1rem;
	padding: .75rem 2.5rem;
	text-decoration: none;
	transition: background-color .15s ease-out;
    -moz-appearance: none;
    background-color:$blue;
    border-color: $blue;
    box-shadow: 0 0.125rem 0.25rem rgb(23 31 56 / 8%);
    color: $white;

	&:focus,
	&:hover {
		background-color: $blue;
		color: $white;
	}
}

@mixin button--light {
	border-radius: 30px;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.5;
	padding: .75rem 2.5rem;
	text-decoration: none;
	transition: background-color .15s ease-out;
    background-color: transparent;
    border: 1px solid $white;
    box-shadow: 0 0.125rem 0.25rem rgb(23 31 56 / 8%);
    color: $white;

	&:focus,
	&:hover {
		background-color: transparent;
		color: $white;
	}

	&::after {
		background-image: url('/assets/images/icons/arrow.svg') !important;
	}
}

@mixin button--secondary {
	background-color: $blue-light;

	&:focus,
	&:hover {
		background-color: $blue;
	}
}

@mixin button--arrow {
	padding-right: 3.75rem;
	position: relative;

	&::after {
		background-image: url('/assets/images/icons/arrow.svg');
		background-repeat: no-repeat;
		border-radius: 50%;
		content: '';
		display: block;
		height: 12px;
		position: absolute;
		position: absolute;
		right: 2.25rem;
		top: 50%;
		transform: translateY(-50%);
		width: 14px;
	}

	&-left {
		padding-left: 3.75rem;
		padding-right: 2.5rem;
		&::after{
			transform: translateY(-50%) rotate(180deg);
			left: 2.25rem;
		}
	}
}