// reference/variables/_colors.scss

// Color
$white: #fff;
$black: #000;

$grey-dark: #0B0E26;
$grey: #383943;
$grey-light: #C0C0C0;
$grey-lighter: #F3F5F7;

$blue: #0A78FF;
$blue-light: rgba(10,120,255,0.1);
// $blue-lighter: #a5e4ff;
// $blue-dark: #1e5791;

// $blue-pale: #f0f5fb;
