{% extends 'base.twig' %}

{% set body_class = 'page-interior' %}

{% block content %}
    <div class="u-container">
        <h1>Hello World</h1>
    </div>
    {% include '_components/content-sections' %}
{% endblock %}