{% extends 'base.twig' %}

{% block content %}
  <section class="calendar">
    <div class="u-container">
      <div class="calendar__wrapper">
        <iframe id="calendar" style="width: 100%; height: 100vh; border: none;" src="{{siteUrl}}/calendar/month" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </section>
{% endblock %}