{# {% extends 'base.twig' %} #}

{% set pageTitle = "Month" %}
{% set page = "month" %}

{# {% block contentCalendar %}
    {% set blocks = craft.entries.section('theLink').one().contentPanels.all() %}
	{% include '_components/content-sections' with { 'blocks': blocks } only %}
{% endblock %} #}
{# 
    {% set blocks = craft.entries.section('theLink').one().contentPanels.all() %}
	{% include '_components/content-sections' with { 'blocks': blocks } only %} #}

		<div class="u-container">
		{% include "_calendar/day.html" %}
	</div>

{# {% block content %}
	<div class="u-container">
		{% include "calendar/month.html" %}
	</div>
{% endblock %} #}
