<section class="annual-events">
    <div class="annual-events__inner">
        <div class="annual-events__heading">
            Annual events at the link
        </div>
        <ul class="annual-events__list">
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0C6.27813 0 0 6.27813 0 14C0 21.7219 6.27813 28 14 28C21.7219 28 28 21.7219 28 14C28 6.27813 21.7219 0 14 0Z" fill="#0A78FF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7695 9.28086C21.1086 9.61992 21.1086 10.1777 20.7695 10.5168L12.5664 18.7199C12.3969 18.8895 12.1727 18.977 11.9484 18.977C11.7242 18.977 11.5 18.8895 11.3305 18.7199L7.22891 14.6184C6.88984 14.2793 6.88984 13.7215 7.22891 13.3824C7.56797 13.0434 8.12578 13.0434 8.46484 13.3824L11.9484 16.866L19.5336 9.28086C19.8727 8.93633 20.4305 8.93633 20.7695 9.28086Z" fill="white"/>
                    </svg>
                    <h4 class="annual-events__title">Artist Opening Reception</h4>
                </div>    
            </li>
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0C6.27813 0 0 6.27813 0 14C0 21.7219 6.27813 28 14 28C21.7219 28 28 21.7219 28 14C28 6.27813 21.7219 0 14 0Z" fill="#0A78FF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7695 9.28086C21.1086 9.61992 21.1086 10.1777 20.7695 10.5168L12.5664 18.7199C12.3969 18.8895 12.1727 18.977 11.9484 18.977C11.7242 18.977 11.5 18.8895 11.3305 18.7199L7.22891 14.6184C6.88984 14.2793 6.88984 13.7215 7.22891 13.3824C7.56797 13.0434 8.12578 13.0434 8.46484 13.3824L11.9484 16.866L19.5336 9.28086C19.8727 8.93633 20.4305 8.93633 20.7695 9.28086Z" fill="white"/>
                    </svg>
                    <h4 class="annual-events__title">Wine & Beer Nights</h4>
                </div>
            </li>
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0C6.27813 0 0 6.27813 0 14C0 21.7219 6.27813 28 14 28C21.7219 28 28 21.7219 28 14C28 6.27813 21.7219 0 14 0Z" fill="#0A78FF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7695 9.28086C21.1086 9.61992 21.1086 10.1777 20.7695 10.5168L12.5664 18.7199C12.3969 18.8895 12.1727 18.977 11.9484 18.977C11.7242 18.977 11.5 18.8895 11.3305 18.7199L7.22891 14.6184C6.88984 14.2793 6.88984 13.7215 7.22891 13.3824C7.56797 13.0434 8.12578 13.0434 8.46484 13.3824L11.9484 16.866L19.5336 9.28086C19.8727 8.93633 20.4305 8.93633 20.7695 9.28086Z" fill="white"/>
                    </svg>
                    <h4 class="annual-events__title">Charity BBQ’s</h4>
                </div>
            </li>
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0C6.27813 0 0 6.27813 0 14C0 21.7219 6.27813 28 14 28C21.7219 28 28 21.7219 28 14C28 6.27813 21.7219 0 14 0Z" fill="#0A78FF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7695 9.28086C21.1086 9.61992 21.1086 10.1777 20.7695 10.5168L12.5664 18.7199C12.3969 18.8895 12.1727 18.977 11.9484 18.977C11.7242 18.977 11.5 18.8895 11.3305 18.7199L7.22891 14.6184C6.88984 14.2793 6.88984 13.7215 7.22891 13.3824C7.56797 13.0434 8.12578 13.0434 8.46484 13.3824L11.9484 16.866L19.5336 9.28086C19.8727 8.93633 20.4305 8.93633 20.7695 9.28086Z" fill="white"/>
                    </svg>
                    <h4 class="annual-events__title">Food Truck Tuesday’s</h4>
                </div>
                <div class="annual-events__row">
                    <div class="annual-events__details">Summer months only</div>
                </div>
            </li>
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0C6.27813 0 0 6.27813 0 14C0 21.7219 6.27813 28 14 28C21.7219 28 28 21.7219 28 14C28 6.27813 21.7219 0 14 0Z" fill="#0A78FF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7695 9.28086C21.1086 9.61992 21.1086 10.1777 20.7695 10.5168L12.5664 18.7199C12.3969 18.8895 12.1727 18.977 11.9484 18.977C11.7242 18.977 11.5 18.8895 11.3305 18.7199L7.22891 14.6184C6.88984 14.2793 6.88984 13.7215 7.22891 13.3824C7.56797 13.0434 8.12578 13.0434 8.46484 13.3824L11.9484 16.866L19.5336 9.28086C19.8727 8.93633 20.4305 8.93633 20.7695 9.28086Z" fill="white"/>
                    </svg>
                    <h4 class="annual-events__title">Winterfest + Oktoberfest</h4>
                </div>    
                <div class="annual-events__row">
                    <div class="annual-events__details">Not open to the public</div>
                </div>
            </li>
        </ul>
    </div>
</section>