<section class="annual-events">
    <div class="annual-events__inner">
        <div class="annual-events__heading">
            Annual events at the link
        </div>
        <ul class="annual-events__list">
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill-rule="evenodd" clip-rule="evenodd"><path d="M14 0C6.278 0 0 6.278 0 14s6.278 14 14 14 14-6.278 14-14S21.722 0 14 0Z" fill="#0A78FF"/><path d="M20.77 9.28c.339.34.339.898 0 1.237l-8.204 8.203a.874.874 0 0 1-1.236 0L7.23 14.618a.878.878 0 0 1 0-1.236.878.878 0 0 1 1.236 0l3.483 3.484 7.586-7.585a.868.868 0 0 1 1.236 0Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h28v28H0z"/></clipPath></defs></svg>
                    <h4 class="annual-events__title">Artist Opening Reception</h4>
                </div>    
            </li>
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill-rule="evenodd" clip-rule="evenodd"><path d="M14 0C6.278 0 0 6.278 0 14s6.278 14 14 14 14-6.278 14-14S21.722 0 14 0Z" fill="#0A78FF"/><path d="M20.77 9.28c.339.34.339.898 0 1.237l-8.204 8.203a.874.874 0 0 1-1.236 0L7.23 14.618a.878.878 0 0 1 0-1.236.878.878 0 0 1 1.236 0l3.483 3.484 7.586-7.585a.868.868 0 0 1 1.236 0Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h28v28H0z"/></clipPath></defs></svg>
                    <h4 class="annual-events__title">Wine & Beer Nights</h4>
                </div>
            </li>
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill-rule="evenodd" clip-rule="evenodd"><path d="M14 0C6.278 0 0 6.278 0 14s6.278 14 14 14 14-6.278 14-14S21.722 0 14 0Z" fill="#0A78FF"/><path d="M20.77 9.28c.339.34.339.898 0 1.237l-8.204 8.203a.874.874 0 0 1-1.236 0L7.23 14.618a.878.878 0 0 1 0-1.236.878.878 0 0 1 1.236 0l3.483 3.484 7.586-7.585a.868.868 0 0 1 1.236 0Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h28v28H0z"/></clipPath></defs></svg>
                    <h4 class="annual-events__title">Charity BBQ’s</h4>
                </div>
            </li>
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill-rule="evenodd" clip-rule="evenodd"><path d="M14 0C6.278 0 0 6.278 0 14s6.278 14 14 14 14-6.278 14-14S21.722 0 14 0Z" fill="#0A78FF"/><path d="M20.77 9.28c.339.34.339.898 0 1.237l-8.204 8.203a.874.874 0 0 1-1.236 0L7.23 14.618a.878.878 0 0 1 0-1.236.878.878 0 0 1 1.236 0l3.483 3.484 7.586-7.585a.868.868 0 0 1 1.236 0Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h28v28H0z"/></clipPath></defs></svg>
                    <h4 class="annual-events__title">Food Truck Tuesday’s</h4>
                </div>
                <div class="annual-events__row">
                    <div class="annual-events__details">Summer months only</div>
                </div>
            </li>
            <li class="annual-events__item">
                <div class="annual-events__row">
                    <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill-rule="evenodd" clip-rule="evenodd"><path d="M14 0C6.278 0 0 6.278 0 14s6.278 14 14 14 14-6.278 14-14S21.722 0 14 0Z" fill="#0A78FF"/><path d="M20.77 9.28c.339.34.339.898 0 1.237l-8.204 8.203a.874.874 0 0 1-1.236 0L7.23 14.618a.878.878 0 0 1 0-1.236.878.878 0 0 1 1.236 0l3.483 3.484 7.586-7.585a.868.868 0 0 1 1.236 0Z" fill="#fff"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h28v28H0z"/></clipPath></defs></svg>
                    <h4 class="annual-events__title">Winterfest + Oktoberfest</h4>
                </div>    
                <div class="annual-events__row">
                    <div class="annual-events__details">Not open to the public</div>
                </div>
            </li>
        </ul>
    </div>
</section>