<section class="gallery-rollup">
    <div class="u-container gallery-rollup__inner">
        <h2 data-aos="fade-up" class="gallery-rollup__heading">Past exhibit - "{{entry.title}}"</h2>
        <a data-aos="fade" href="/the-link/featured-exhibit" class="gallery-rollup__back">< Go back to current featured exhibit</a>
        <div data-aos="fade" class="gallery-rollup__summary">{{ entry.exhibitionSummary | nl2br }}</div>
        <ul class="gallery-rollup__list">
            {% for itemId in entry.galleryItems.ids() %}
                {% include '_components/gallery-card' with {'itemId': itemId, 'entryId': entry.Id} %}
            {% endfor %}
        </ul>
    </div>
</section>