{% set offset = offset ?? 0 %}

{% set entryQuery = craft.entries.section('featuredExhibit').one().currentFeaturedExhibit.one().galleryItems.offset(offset).limit(limit) %}
{% set entries = entryQuery.all() %}

{% set exhibit = craft.entries.section('featuredExhibit').one().currentFeaturedExhibit.one() %}
<section class="gallery-rollup">
  <div class="u-container gallery-rollup__inner">
    <h2 data-aos="fade-up" class="gallery-rollup__heading">Featured work - "{{exhibit.title}}"</h2>
    <div data-aos="fade" class="gallery-rollup__summary">{{ exhibit.exhibitionSummary }}</div>
    <ul class="gallery-rollup__list">
      {% for entry in entries %}
        {% include '_components/gallery-card' %}        
      {% endfor %}
    </ul>

    {# If the total entry count is greater than the number that has been displayed #}
    {% if entryQuery.count() > offset + entries|length %}
      {# Increments `offset` by the value of `limit` #}
      <button class="gallery-rollup__button button button--outline" id="featured-exhibit-load-more" sprig s-val:offset="{{ offset + limit }}"
        {# Appends entries #}
        s-select=".gallery-rollup__list .gallery-card__item" s-target=".gallery-rollup__list" s-swap="beforeend"
        {# If this button was clicked then swap it out-of-band #}
        {{ sprig.trigger == 'featured-exhibit-load-more' ? 's-swap-oob="true"' }}
      >
        <div class="gallery-rollup__button-text">Show More</div>
            <div class="gallery-rollup__button-loader">
              <svg stroke="#0A78FF" class="gallery-rollup__button-circular-loader" viewBox="25 25 50 50" >
                <circle class="gallery-rollup__button-loader-path" cx="50" cy="50" r="20" fill="none" stroke="#0A78FF" stroke-width="2" />
              </svg>
            </div>
      </button>
    {% else %}
      {# Swaps the button out-of-band with a dummy button that is hidden #}
        <button class="gallery-rollup__button" id="featured-exhibit-load-more" s-swap-oob="true" style="display: none"></button>
    {% endif %}
  </div>
</section>
