<footer class="footer">
	<div class="u-container">
		<div class="footer__row">
			<div class="footer__column">
				<a href="/" class="footer__logo" title="A logo">
					<img alt="Waterloo Innovation Park + The Link Logo" src="/assets/images/logo-footer.png">
				</a>
			</div>
			<div class="footer__column">
				<h4 class="footer__heading">Location</h4>
				<address class="address" itemscope="" itemtype="https://schema.org/PostalAddress">
					<span itemprop="streetAddress">411 Richmond Street East</span><br/>
					<span>Suite 302</span><br/>
					<span itemprop="addressRegion">Toronto</span>,
					<span itemprop="addressLocality">ON</span>
					<span itemprop="postalCode">M5A 3S5</span>
					<div>Canada</div>
				</address>
			</div>
			<div class="footer__column">
				<h4 class="footer__heading">Contact</h4>
				<div>
					<a class="footer__link email" href="mailto:" itemprop="email">investorrelations@</a>
				</div>
				<div>
					<a class="footer__link email" href="mailto:" itemprop="email">tenantservices@</a>
				</div>
				<div>Tel:
					<a class="footer__link tel" href="tel:+123456789" itemprop="telephone">416 123 4567</a>
				</div>
				<div>Fax:
					<a class="footer__link fax" href="tel:+123456789" itemprop="faxNumber">416 123 4567</a>
				</div>
				<div>&nbsp;
				</div>
			</div>
			<div class="footer__column">
				<h4 class="footer__heading">Featured Links</h4>
				<nav class="footer__links" role="navigation">
					<ul role="menu">
						<li role="presentation">
							<a class="footer__link" href="/investment-management" role="menuitem">
								Investment Management
							</a>
						</li>
						<li role="presentation">
							<a class="footer__link" href="/asset-management" role="menuitem">
								Asset Management
							</a>
						</li>
						<li role="presentation">
							<a class="footer__link" href="/property-management" role="menuitem">
								Property Management
							</a>
						</li>
						<li role="presentation">
							<a class="footer__link" href="" target="_blank" role="menuitem" rel="noopener">Employees</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="footer__row">
			<div class="footer__column">
				<p class="footer__copyright">© A Logo. All rights reserved.</p>
			</div>
			<div class="footer__column">
				<a class="footer__link footer__terms" href="/terms-of-use" title="View our terms of use">Terms of Use</a>
				<a class="footer__link footer__privacy" href="/privacy-policy" title="View our privacy policy">Privacy Policy</a>
			</div>
		</div>
	</div>
</footer>
