<nav class="mobile-nav">
	<button aria-label="Exit mobile navigation" class="mobile-nav__exit-button js-mobile-nav-link" tabindex="-1" type="button"></button>
	<ul class="mobile-nav__list" role="menu">
        {# primaryNavigation defined as global #}
		{% if primaryNavigation is defined %}
			{% for navItem in primaryNavigation.navigationItems %}
				<li class="mobile-nav__item" role="presentation">
					<a class="mobile-nav__anchor js-mobile-nav-link" href={{ navItem.path }} role="menuitem">
						{{ navItem.title }}
					</a>
				</li>
			{% endfor %}
		{% endif %}
	</ul>
</nav>
