<nav class="primary-nav">
	<ul class="primary-nav__list" role="menu">
        {# primaryNavigation defined as global #}
		{% if primaryNavigation is defined %}
			{% for navItem in primaryNavigation.navigationItems %}
				<li class="primary-nav__item" role="presentation">
					<a class="primary-nav__anchor" href={{navItem.path}} role="menuitem">
						{{ navItem.title }}
					</a>
				</li>
			{% endfor %}

		{% endif %}
	</ul>
</nav>
