<!DOCTYPE html>
<html class="no-js" itemscope itemtype="https://schema.org/WebPage" prefix="og:https://ogp.me/ns#" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

		<title>Waterloo Innovation Park</title>
		<meta name="description" content=""/>
		<meta property="og:title" content="Waterloo Innovation Park">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.waterlooinnovationpark.com/">
		<meta property="og:site_name" content="Waterloo Innovation Park">
		<meta property="og:locale" content="en_US">

		<meta name="google-site-verification" content=""/>
		{# 
		<!--DNS Prefetch -->
		{# <link rel="dns-prefetch" href="https://www.gstatic.com">
			<link rel="dns-prefetch" href="https://www.googletagmanager.com">
			<link rel="dns-prefetch" href="https://www.google-analytics.com">
		#}
		<link
		rel="dns-prefetch" href="https://polyfill.io"> <!--Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link
		rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

		<!--Humans -->
		<link
		rel="author" href="/humans.txt"/>

		<!--Inline the critical CSS. -->
		<link
		rel="stylesheet" href="/assets/styles/critical.min.css">
		<!--Asynchronously load the non-critical CSS. -->
		<link rel="stylesheet" rel="preload" as="style" href="/assets/styles/styles.min.css"> 
		{% block styles %}{% endblock %}

		<!--If no js is available, load the non-critical CSS immediately. -->
		<noscript>
			<link rel="stylesheet" href="/assets/styles/styles.min.css">
		</noscript>

		<!--Inline the critical JS. -->

	</head>

	{# Acquire URL segments #}
	{% set segment1 = craft.app.request.segment(1) %}
	{% set segment2 = craft.app.request.segment(2) %}
	{% set segment3 = craft.app.request.segment(3) %}
	{% set segment4 = craft.app.request.segment(4) %}
	{% set segment5 = craft.app.request.segment(5) %}
	{% set segment6 = craft.app.request.segment(6) %}
	{% set segment7 = craft.app.request.segment(7) %}

	<body class="body {{ body_class }}">
		<div class="body__wrapper">
			<header class="header">
				<div class="u-container">
					<div class="header__container">
						<div class="header__row">
							<div class="header__inner">
								<a
									href="/" class="header__logo-anchor" title="A logo">
									<img alt="Waterloo Innovation Park + The Link Logo" src="assets/images/logo.png">
								</a>
								{% include '_components/nav' %}
							</div>
						</div>
					</div>
				</div>

			</header>

		
			<main class="main" id="main-content" tabindex="0">
			{% block layout %}
				{% block content %}{% endblock %}
			{% endblock %}
			</main>

			{% include '_components/footer' %}

		</div>
		
		<script type="module" src="/assets/scripts/bundle.min.js" async defer></script>

	</body>

</html>
