{% set classes = "" %}
{% set classes = classes ~ (event.allDay ? " all_day") %}
{% if event.multiDay %}
    {% set classes = classes ~ " multi_day" %}
    {% set classes = classes ~ (day.containsDate(event.startDateLocalized) ? " first_day") %}
    {% set classes = classes ~ (day.containsDate(event.endDateLocalized) ? " last_day") %}
{% endif %}

{% set style = "" %}
{% if event.multiDay or event.allDay %}
    {% set style %}
        style="background-color: {{ event.calendar.lighterColor }} !important;
               border-color: {{ event.calendar.color }} !important;"
    {% endset %}
{% endif %}

<div class="event tips{{ classes }}"{{ style }} data-toggle="popover">
    {% if event.multiDay %}
        <a href="{{ siteUrl }}calendar/event/{{ event.id }}/{{ event.repeating ? event.startDate.format('Y/m/d') }}"
           style="color: {{ event.calendar.contrastColor }} !important;">
            {% autoescape false %}
                {{ day.containsDate(event.startDateLocalized) or day.containsDate(event.endDateLocalized) ? event.title : "&nbsp;"|raw }}
            {% endautoescape %}
        </a>
    {% else %}
        {% if not event.allDay %}
            <span class="calendar-color" style="background-color: {{ event.calendar.color }};"></span>
        {% endif %}
        <a href="{{ siteUrl }}calendar/event/{{ event.id }}/{{ event.repeating ? event.startDate.format('Y/m/d') }}"
           {% if event.allDay %}style="color: {{ event.calendar.contrastColor }};"{% endif %}>
            {{ event.title }}

            {% if (event.eventImage | length) == 1 %}
                {% set image = event.eventImage.one() %}
            {% endif %}

            {% if image is defined %}
            <picture class="gallery-card__picture">
                <source {{ attr({ type: 'image/webp', srcset: image.getSrcset( [80], { format: 'webp', } ), sizes: '(max-width: 768px) 100vw, 304px'}) }}>
                <source {{ attr({ type: 'image/jpeg', srcset: image.getSrcset( [80], { format: 'jpeg', } ), sizes: '(max-width: 768px) 100vw, 304px'}) }}>
                <img alt="" class="gallery-card__image" src={{image.url}} width={{image.width}} height={{image.height}}>
            </picture>
            {% endif %}
        </a>
    {% endif %}

    {% include "calendar/layouts/_event_popover.html" %}
</div>
