@import "../reference/reference";

$block: "annual-events";

.#{$block} {
    &__inner {
        margin-top: 2rem;
        position: relative;

        @include media-min(lg) {
            margin-top: 3.5rem;
            margin-bottom: 6.5rem;
        }
    }

    &__heading {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 20%;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &__row {
        display: flex;
        flex-flow: row nowrap;
    }

    &__list {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;

        @include media-min(sm) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-min(md) {
            gap: 1.5rem 0;
        }

        @include media-min(lg) {
            grid-template-columns: auto auto 21%;
        }
    }

    &__item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        list-style: none;
        padding-bottom: 1rem;
        position: relative;

        svg {
            margin-right: 19px;
            min-width: 28px;
        }

        h4 {
            display: inline-block;
            margin-bottom: 0;
        }

        @include media-min(xxl) {
            // flex-direction: row;
            padding-bottom: 1.5rem;
            
            &:nth-child(2n + 1) {
                &::after {
                    background: $grey;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 1px;
                    position: absolute;
                    width: 1280px;
                }
            }
        }

        @include media-min(lg) {
            &:nth-child(2n + 1) {
                &::after {
                    contain: none;
                    display: none;
                }
            }
            &:nth-child(3n + 1) {
                &::after {
                    background: $grey;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 1px;
                    position: absolute;
                    width: 1280px;
                }
            }
        }
    }

    &__title {
        padding-right: 12px;
        white-space: nowrap;
    }

    &__details {
        color: $grey-ash;
        padding-left: 3rem;
    }
}