@import '../reference/reference';

@font-face {
    font-family: 'Manrope';
    src: local('Manrope ExtraLight'), local('Manrope-ExtraLight'),
        url('fonts/Manrope-ExtraLight.woff2') format('woff2'),
        url('fonts/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('fonts/Manrope-Medium.woff2') format('woff2'),
        url('fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('fonts/Manrope-Regular.woff2') format('woff2'),
        url('fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope SemiBold'), local('Manrope-SemiBold'),
        url('fonts/Manrope-SemiBold.woff2') format('woff2'),
        url('fonts/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Light'), local('Manrope-Light'),
        url('fonts/Manrope-Light.woff2') format('woff2'),
        url('fonts/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Bold'), local('Manrope-Bold'),
        url('fonts/Manrope-Bold.woff2') format('woff2'),
        url('fonts/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html {
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
}

.body {
	color: $grey-dark;
	font-family: $font-family-body;
	font-size: $font-size-medium;
	line-height: 26px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;

	@include media-min(sm) {
		font-size: $font-size-large;
		line-height: 32px;
	}

	&--no-scroll {
		overflow-y: hidden;
	}

	&__wrapper {
		position: relative;
		right: 0;
		transition: right 0.5s ease;

		@media (prefers-reduced-motion: reduce) {
			transition: none !important;
		}

		@include media-min(lg) {
			overflow: visible;
		}

		&--mobile-nav-open {
			overflow: hidden;
			right: 280px;
			transition: right 0.5s ease;

			@include media-min(lg) {
				right: 0;
			}

			@media (prefers-reduced-motion: reduce) {
				transition: none !important;
			}
		}
	}
}

.main {
	outline: none;
}

a {
	text-decoration: none;
	transition: color 0.15s ease-out;
	text-decoration: underline;

	&::after {
		transition: background-color 0.15s ease-out;
	}
}

p {
	a {
		@include link;
	}
}

img {
	display: block;
}

picture {
	display: block;
}

h1 {
	color: $grey-darker;
	font-family: $font-family-heading;
	font-size: 2.5rem;
	font-weight: $font-weight-normal;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	margin-top: 0;

	@include media-min(md) {
		font-size: 3.5rem;
	}
}

h2 {
	color: $grey-darker;
	font-family: $font-family-heading;
	font-size: 1.875rem;
	font-weight: $font-weight-semibold;
	line-height: 1.25;
	margin-bottom: 1rem;
	margin-top: 0;

	@include media-min(md) {
		font-size: 2.5rem;
	}
}

h3 {
	color: $grey-darker;
	font-family: $font-family-heading;
	font-size: 1.5rem;
	font-weight: $font-weight-semibold;
	margin-bottom: 0.5rem;
	margin-top: 0;

	@include media-min(md) {
		font-size: 2rem;
		margin-bottom: 0.75rem;
	}
}

h4 {
	color: $grey-darker;
	font-family: $font-family-heading;
	font-size: 18px;
	font-weight: $font-weight-semibold;
	margin-bottom: 0.5rem;
	margin-top: 0;

	@include media-min(md) {
		font-size: 1.5rem;
	}
}

p {
	margin-top: 0;
}

.skip-link {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	&:focus {
		display: block;
		font-size: 1rem;
		height: auto;
		line-height: 1.5;
		position: static;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}
}

.u-container {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1356px;
	padding-left: 1.125rem;
	padding-right: 1.125rem;
}

.u-container-small {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 750px;
	padding-left: 1.125rem;
	padding-right: 1.125rem;
}

.u-display-none {
	display: none !important;
}

.u-fade-out {
	opacity: 0 !important;

	.no-js & {
		opacity: 1 !important;
	}
}

.u-scale-fade-out {
	opacity: 0 !important;
	transform: translate(-50%, -50%) scale(1.05) !important;

	.no-js & {
		opacity: 1 !important;
		transform: translate(-50%, -50%) scale(1) !important;
	}
}

.u-hidden {
	height: 0;
	opacity: 0 !important;
	pointer-events: none;
}

.u-scroll {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	overflow-y: hidden;
}

.u-slide-relative {
	position: relative !important;
	z-index: 6000 !important;

	.no-js & {
		position: static !important;
		z-index: auto !important;
	}
}

.no-js .u-no-js-display-none {
	display: none !important;
}

.picture {
	background-position: 50% 50%;
	background-size: cover;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.grecaptcha-badge {
	display: none;
	opacity: 0;
}
