@import "../reference/reference";

$block: "booking";

.#{$block} {
  padding: 5rem 0;

  &__row {
    @include media-min(md) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__column {
    &:first-of-type {
      margin-bottom: 3rem;
      margin-right: 0;

      @include media-min(md) {
        margin-bottom: 0;
        margin-right: 2rem;
        width: 50%;
      }

      @include media-min(lg) {
        margin-right: 4rem;
        width: 40%;
      }
    }

    &:last-of-type {
      margin-bottom: 3rem;

      @include media-min(md) {
        margin-bottom: 0;
        width: 50%;
      }

      @include media-min(lg) {
        width: 60%;
      }
    }
  }

  &__image {
    height: auto;
    width: 100%;
  }
}
