@import "../reference/reference";

$block: 'calendar';

.#{$block} {
  &__inner {
    margin-top: 3rem;
    margin-bottom: 3.25rem;

    @include media-min(md) {
      margin-bottom: 6.5rem;
      margin-top: 6.25rem;
    }
  }

  &__row {
    margin-bottom: 1.5rem;

    @include media-min(md) {
      display: flex;
      flex-direction: row;
      margin-bottom: 2.5rem;
      justify-content: space-between;
    }
  }

  &__column {
    width: 100%;

    @include media-min(md) {
      width: calc(50% - 2rem);

      &:first-of-type {
        margin-right: 1rem;
      }
      &:last-of-type {
        margin-left: 1rem;
      }
    }
  }

  &__header {
    &--emphasis {
      color: $blue;
  }
  }
}
