@import "../reference/reference";

$block: "calendar";

.#{$block} {
  &__column {
    &:first-of-type {
      margin-bottom: .5rem;
      @include media-min(md) {
        margin-bottom: 0;
      }
    }
    &:last-of-type {
      text-align: left;

      @include media-min(md) {
        text-align: right;
      }
    }
  }
}

.views {
  margin-top: 1rem;
}

.dropdown-menu {
  position: absolute;
  top: 48px;
}

.calendar-color {
  z-index: -1;
}

body {
  font-family: $font-family-body;
  color: $grey-darker;
}

.calendar-layout {
  .row {
    .col-lg-9 {
      padding-left: 0;
      padding-right: 0;
    }

    .col-lg-3 {
      padding-left: 0;
      padding-right: 0;
    }

    @include media-min(md) {
      .col-lg-9 {
        padding-left: 0;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
      }
  
      .col-lg-3 {
        padding-right: 0;
        padding-left: calc(var(--bs-gutter-x) * 0.5);
      }
    }

  }
}

#month_calendar {
  .col-last {
    display: flex;
    justify-content: flex-end;
  }
  .button--arrow--right {
    text-align: right;
  }
}

.badge-warning {
  display: none;
  font-size: 18px;
  color: $grey-darker;

  @include media-min(lg) {
    display: inline;
  }
}

#calendar-month-menu {
  padding-right: 3.75rem;
  position: relative;

  .arrow {
    height: 14px;
    position: absolute;
    right: 2.25rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.15s ease-in-out;
    width: 14px;
  }
}

.dropdown-toggle::after {
  display: none;
  content: none;
}

#tool-tip {
  background-color: white;
  border-radius: 6px;
  border: $grey 1px solid;
  color: $grey-darker;
  display: none;
  font-size: 13px;
  max-width: 300px;
  padding: 5px 10px;
  position: absolute;
}

#tool-tip[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  height: 8px;
  position: absolute;
  width: 8px;
}

#arrow {
  top: 0;
}

#arrow::before {
  border: 1px solid $grey;
  content: "";
  top: -4px;
  transform: rotate(45deg);
}

#arrow::after {
  background: $white;
  content: "";
  display: block;
  height: 8px;
  left: 50%;
  position: relative;
  top: 0;
  transform: translateX(-50%);
  width: 12px;
  z-index: 1;
}

#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -4px;
}

iframe#calendar {
  height: 100vh;
}

#month_calendar #days_of_week th {
  overflow: hidden;
  text-overflow: ellipsis;
}


.event:not(.multi_day) {
  border-radius: 6px;
}

.event__picture {
  padding: .25rem 0;

  img {
    border-radius: 2px;
  }
}

#month_calendar .first_day {
  border-radius: 6px 0 0 5px;
}

#month_calendar .last_day {
  border-radius: 0 6px 6px 0;
}