@import "../reference/reference";

$block: "calendar";

.#{$block} {
  &__column {
    padding: 0;

    @include media-min(md) {
      padding: initial;
    }

    &:first-of-type {
      margin-bottom: .5rem;
      @include media-min(md) {
        margin-bottom: 0;
      }
    }

    &:last-of-type {
      text-align: right;

      @include media-min(md) {
        text-align: right;
      }
    }
  }

  &__button-row {
    display: flex;
    flex-wrap: wrap;
  }

  &__week-of {
    display: none;

    h3 {
      font-weight: 600;
      font-size: 1.5rem;
    }

    @include media-min(xxl) {
      display: block;

      h3 {
        margin-bottom: 0;
      }
    }

    &--mobile {
      display: block;
      margin-bottom: 2rem;
      text-align: center;

      @include media-min(xxl) {
        display: none;

      }
    }
  }
}

.card__columns {
  display: flex;
  flex-direction: column;

  @include media-min(sm) {
    flex-direction: row;
  }
}

.card__column-image {
  padding: 1rem;
  
  @include media-min(sm) {
    align-self: center;
    width: 50%;
  }
}

.views {
  margin-top: 2.5rem;
}

.dropdown-menu {
  position: absolute;
  top: 48px;
}

.dropdown-item--active {
  color: #0A78FF;
  font-weight: 700;
}

.calendar-color {
  z-index: -1;
}

body {
  font-family: $font-family-body;
  color: $grey-darker;
}

.calendar-layout {
  .row {
    @include media-min(md) {
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 1280px;
      padding-left: 1.125rem;
      padding-right: 1.125rem;
    }

  }

  &__column {
    padding-right: calc(var(--bs-gutter-x) * 0.5 + 1.125rem);
    padding-left: calc(var(--bs-gutter-x) * 0.5 + 1.125rem);

    @include media-min(md) {
       padding: 0;
    }

    @include media-min(lg) {
      padding-left: 0;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      width: 75%;
    }

    &-main {
      order: 2;

      @include media-min(md) {
        padding: 0;
      }

      @include media-min(lg) {
        order: 1;
        padding-left: 0;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        width: 75%;
      }
    }

    &-filters {
      order: 1;
      padding-top: 0;
      margin: 0 auto 2rem auto;
      max-width: 1280px;
      padding-right: calc(var(--bs-gutter-x) * 0.5 + 1.125rem);
      padding-left: calc(var(--bs-gutter-x) * 0.5 + 1.125rem);

      @include media-min(md) {
        padding-right: 0;
        padding-left: 0;
      }
      
      @include media-min(lg) {
        order: 2;
        padding-left: calc(var(--bs-gutter-x) * 0.5 + 1.125rem);
        padding-top: 3.75rem;
        width: 25%;
        max-width: 1280px;
      }
    }
  }
}

#month_calendar {
  .col-last {
    display: flex;
    justify-content: flex-end;
  }
  .button--arrow--right {
    text-align: right;
  }
}

 #week_calendar {
  .button--arrow-left,
  .button--arrow {
    min-width: 182px;
  }
 }

.badge-warning {
  display: none;
  font-size: 18px;
  color: $grey-darker;

  @include media-min(lg) {
    display: inline;
  }
}

#calendar-month-menu {
  padding-right: 3.75rem;
  position: relative;

  .arrow {
    height: 14px;
    position: absolute;
    right: 2.25rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.15s ease-in-out;
    width: 14px;
  }
}

.dropdown-toggle::after {
  display: none;
  content: none;
}

#tool-tip {
  background-color: white;
  border-radius: 6px;
  border: $grey 1px solid;
  color: $grey-darker;
  display: none;
  font-size: 13px;
  max-width: 300px;
  padding: 5px 10px;
  position: absolute;
}

#tool-tip[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  height: 8px;
  position: absolute;
  width: 8px;
}

#arrow {
  top: 0;
}

#arrow::before {
  border: 1px solid $grey;
  content: "";
  top: -4px;
  transform: rotate(45deg);
}

#arrow::after {
  background: $white;
  content: "";
  display: block;
  height: 8px;
  left: 50%;
  position: relative;
  top: 0;
  transform: translateX(-50%);
  width: 12px;
  z-index: 1;
}

#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -4px;
}

iframe#calendar {
  height: 100vh;
}

#month_calendar #days_of_week th {
  overflow: hidden;
  text-overflow: ellipsis;
}


.event:not(.multi_day) {
  border-radius: 6px;
}

.event__picture {
  padding: .25rem 0;

  img {
    border-radius: 2px;
  }
}

#month_calendar .first_day {
  border-radius: 6px 0 0 5px;
}

#month_calendar .last_day {
  border-radius: 0 6px 6px 0;
}
