@import '../reference/reference';

$block: 'content-panel';

.#{$block} {
	padding: 5rem 0;
	text-align: center;

	&__container {
		padding: 0 4rem;

		@include media-min(lg) {
			padding: 0 12rem;
		}
	}
}
