@import '../reference/reference';

$block: 'contact';

.#{$block} {
    &__form {
        background-color: $grey-lighter;
        padding-bottom: 3.75rem;
        padding-top: 2rem;

        @include media-min(md) {
            padding-bottom: 6rem;
            padding-top: 7.75rem;
        }
    }

    &-details {
        &__row {
            padding: 2rem 0;

            @include media-min(md) {
                padding: 4.5rem 0;
                display: flex;
                justify-content: space-between;
            }

            &:last-of-type {
                border-top: 1px solid $grey-light;
                border-bottom: 1px solid $grey-light;

                @include media-min(md) {
                    border-bottom: none;
                }
            }
        }

        &__column {
            @include media-min(md) {
                width: 33.33%;
            }
        }

        &__list {
            padding: 0;
            margin: 0;
        }

        &__item {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}