@import "../reference/reference";

$block: "cta-cards";

.#{$block} {
    &__inner {
        @include media-min(md) {
            padding-bottom: 4.5rem;
            padding-top: 4.5rem;

            display: flex;
            flex-direction: row;
        }
    }

    &__item {
        @include media-min(md) {
            width: calc(50% - 2rem);

            &:first-of-type {
                margin-right: 1rem;
            }

            &:last-of-type {
                margin-left: 1rem;
            }
        }
    }

    &__image {
        height: auto;
        width: 100%;
    }
}