@import "../reference/reference";

$block: "footer";

.#{$block} {
  border-top: 1px solid $grey-light;
  color: $grey-darker;
  font-size: 1rem;
  margin-bottom: 0;

  @include media-min(lg) {
    padding-top: 0;
    position: relative;
    z-index: 2000;
  }

  address {
    font-style: normal;
  }

  &__row {
    text-align: left;

    @include media-min(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-min(lg) {
      display: flex;
      justify-content: space-between;
    }

    &:first-child {
      @include media-min(lg) {
        padding: 3.75rem 0;
      }
    }
  }

  &__column {
    border-bottom: 1px solid $grey;
    padding: 1.5rem 0;

    @include media-min(sm) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include media-min(lg) {
      border-bottom: 0 none;
      display: block;
      padding: 0;
    }

    &:first-child {
      text-align: center;

      @include media-min(lg) {
        align-self: center;
        text-align: left;
      }
    }

    &:last-child {
      border-bottom: 0 none;
    }
  }

  &__logo {
    &--desktop {
      display: none;

      @include media-min(lg) {
        display: block;
      }
    }

    &--mobile {
      @include media-min(lg) {
        display: none;
        height: auto;
        width: 187px;
      }
    }
  }

  &__heading {
    color: $grey-dark;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 1rem;
    text-transform: uppercase;
  }

  &__copyright {
	  color: $grey-light;
    font-size: 12px;
    margin: 0;

    @include media-min(lg) {
      font-size: 14px;
    }
  }

  &__privacy,
  &__terms {
    font-size: 14px;
    order: 2;
    padding-right: 1rem;

    @include media-min(lg) {
      order: 1;
    }
  }

  &__links {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    label {
      margin-right: 0.5rem;
    }
  }

  &__link {
    color: $grey-darker;
    font-weight: $font-weight-normal;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  &__bottom-bar {
    color: $white;
    background-color: $grey-darker;

    &-inner {
      display: flex;
	  flex-direction: column;

      @include media-min(md) {
        justify-content: space-between;
        flex-direction: row;
        padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		width: 100%;
      }
    }

	.#{$block}__column {
		border: 0;

		&:not(:first-of-type){
			padding-top: 0;
		}

		@include media-min(md) {
			padding: 0;
		}
	}
  }

  &__social-links {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
  }

  &__social-link {
	line-height: 0;
	margin: 0;
	padding-left: 11px;
	text-decoration: none;

	svg {
		height: 25px;
		width: auto;
	}
  }
}
