@import "../reference/reference";

$block: "footer";

.#{$block} {
  color: $grey-dark;
  font-size: 1rem;
  margin-bottom: 0;

  @include media-min(lg) {
    padding-top: 0;
    position: relative;
    z-index: 2000;
  }

  address {
    font-style: normal;
  }

  &__row {
	text-align: center;

    @include media-min(lg) {
      display: flex;
      justify-content: space-between;
	  text-align: left;
    }

    &:first-child {
      @include media-min(lg) {
        padding: 3.75rem 0;
      }
    }
  }

  &__column {
    border-bottom: 1px solid $grey;
    padding: 1.5rem 0;

    @include media-min(lg) {
      border-bottom: 0 none;
      padding: 0;
    }

    &:first-child {
      text-align: center;

      @include media-min(lg) {
        align-self: center;
        text-align: left;
      }
    }

    &:last-child {
      border-bottom: 0 none;
    }
  }

  &__logo img {
	display: inline-block;
	position: relative;
    left: 38px;

	@include media-min(lg) {
		position: static;
	}
  }

  &__heading {
    color: $grey-dark;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 1rem;
    text-transform: uppercase;
  }

  &__copyright,
  &__privacy,
  &__terms {
    font-size: 0.75rem;
    margin: 0;

    @include media-min(lg) {
      font-size: 1rem;
    }
  }

  &__privacy,
  &__terms {
    font-size: 14px;
    order: 2;
    padding-right: 1rem;

    @include media-min(lg) {
      order: 1;
    }
  }

  &__links {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    label {
      margin-right: 0.5rem;
    }
  }

  &__link {
    color: $grey-darker;
    font-weight: $font-weight-normal;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  &__bottom-bar {
    color: $white;
    background-color: $grey-darker;

    &-inner {
      display: flex;
	  flex-direction: column;

      @include media-min(md) {
        justify-content: space-between;
        flex-direction: row;
        padding: 1.5rem 0;
		width: 100%;
      }
    }

	.#{$block}__column {
		border: 0;

		&:not(:first-of-type){
			padding-top: 0;
		}
	}
  }

  &__social-link {
	padding-left: 11px;
  }
}
