@import '../reference/reference';

$block: 'gallery-rollup';

.#{$block} {
    &__inner {
        margin: 3rem auto;

        @include media-min(md) {
            padding-top: 4.2rem;
            padding-bottom: 4.2rem;
        }
    }

    &__heading {
        margin-bottom: 2rem;
        color: $blue;
    }

    &__summary {
        margin-bottom: 3rem;

        @include media-min(md) {
            margin-bottom: 5rem;
        }
    }

    &__list {
        display: grid;
        gap: 3rem 2rem;
        grid-auto-rows: 1fr;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media-min(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-min(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-min(lg) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__back {
        @include link;

        display: inline-block;
        margin-bottom: 2rem;
    }

    &__button {
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }
}

