@import '../reference/reference';

$block: 'gallery-rollup';

.#{$block} {
    &__inner {
        margin: 3rem auto;

        @include media-min(md) {
            margin-bottom: 5.5rem;
            margin-top: 5.5rem;
        }
    }

    &__heading {
        margin-bottom: 2rem;
        color: $blue;
    }

    &__summary {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

        @include media-min(md) {
            margin-bottom: 5rem;
        }

        &--hidden {
            display: none;
        }
    }

    &__list {
        display: grid;
        gap: 3rem 2rem;
        grid-auto-rows: 1fr;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media-min(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-min(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-min(lg) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__back {
        @include link;

        display: inline-block;
        margin-bottom: 2rem;
    }

    &__button {
        cursor: pointer;
        display: block;
        margin: 4.5rem auto 0;
    }

    &__read-more {
        @include link;

        display: inline-block;
        margin-top: 2.25rem;
    }
}

