$block: "instagram";

.#{$block} {
  background-color: $grey-lighter;
  visibility: hidden;

  &--visible {
    visibility: visible;
  }

  &__inner {
    padding: 2rem 0;

    @include media-min(md) {
      padding: 5rem 0;
      text-align: center;
    }

    // @include media-min(xl) {
    //   padding: 5rem 1.125rem;
    // }
  }

  &__subheading {
    margin-bottom: 2.5rem;
  }

  &__image {
    height: 147px;
    object-fit: cover;
    object-position: center center;
    width: 100%;

    @include media-min(xs) {
      height: 220px;
    }

    @include media-min(sm) {
      height: 290px;
    }

    @include media-min(md) {
      height: 314px;
    }
  }
}
