@import '../reference/reference';

$block: 'lease-managers';

.#{$block} {
    &__inner {
        margin: 3rem auto;

        @include media-min(md) {
            margin: 6rem auto;
        }
    }

    &__heading {
        margin-bottom: 3rem;
    }

    &__list {
        display: grid;
        gap: 2rem;
        grid-auto-rows: 1fr;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media-min(sm) {
            gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-min(lg) {
            gap: 5rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__contact {
        display: flex;
        flex-direction: row;

        @include media-min(lg) {
            flex-direction: column;
        }

        @include media-min(xl) {
            flex-direction: row;
        }
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
    }

    &__phone, &__email {
        color: $black;
        line-height: 32px;

        &:hover, &:focus {
            color: $black;
        }
    }

    &__phone {
        @include media-min(xl) {
            margin-right: .5rem;
        }
    }

    &__button {
        display: block;
        margin: 0 auto;
    }
}

