@import '../reference/reference';

$block: 'lease-managers';

.#{$block} {
    background-color: $grey-lighter;

    &__inner {
        padding-bottom: 3rem;
        padding-top: 3rem;

        @include media-min(md) {
            padding-bottom: 6rem;
            padding-top: 6rem;
        }
    }

    &__heading {
        margin-bottom: 3rem;

        &--emphasis {
            color: $blue;
        }
    }

    &__list {
        display: grid;
        gap: 2rem;
        grid-auto-rows: 1fr;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media-min(sm) {
            gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-min(lg) {
            gap: 5rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__contact {
        align-items: flex-start;
        display: flex;
        flex-direction: column;

        @include media-min(lg) {
            flex-direction: column;
        }

        @include media-min(xl) {
            flex-direction: row;
        }
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
    }

    &__phone, &__email {
        @include link;
        
        line-height: 32px;
    }

    &__phone {
        @include media-min(xl) {
            margin-right: .5rem;
        }
    }

    &__button {
        display: block;
        margin: 0 auto;
    }
}

