@import '../reference/reference';

.nav {
  @include media-min(md) {
    margin-left: auto;
  }

  &__button {
    @include button-reset;

    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;

    @include media-min(md) {
      display: none;
    }

    &--close {
      display: none;
      pointer-events: none;

      &::before,
      &::after {
        background-color: $grey-dark;
        content: ' ';
        height: 1rem;
        left: 50%;
        position: absolute;
        top: 9px;
        width: 2px;
      }
  
      &::before {
        transform: rotate(45deg);
      }
  
      &::after {
        transform: rotate(-45deg);
      }
  
      &:focus::before,
      &:focus::after,
      &:hover::before,
      &:hover::after {
        background-color: $blue-light;
      }
    }

    &--open {
      pointer-events: none;
    }

    &--active {
      + .nav__wrapper {
        display: flex;
        flex-direction: column;
      }

      .nav__button {
        &--close {
          display: block;
        }

        &--open {
          display: none;
        }
      }
    }
  }
  
  &__overlay {
    bottom: 0;
    content: ' ';
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    &--active {
      display: block;
    }

    @include media-min(md) {
      display: none;
    }
  }

  &__wrapper {
    background-color: $white;
    box-shadow: $box-shadow;
    display: none;
    left: 0;
    margin: 0 -1.5rem;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    top: -1.5rem;
    z-index: 3;

    &::before {
      background-color: $white;
      content: "";
      display: block;
      height: 10px;
      left: 0;
      position: absolute;
      top: -4px;
      width: 100%;
      z-index: 1;
    }

    @include media-min(md) {
      box-shadow: none;
      display: flex;
      margin: initial;
      padding: 0;
      position: static;

      &::before {
        content: none;
      }
    }
  }

  &__secondary {
    @include media-min(sm) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    text-align: left;

    @include media-min(md) {
      flex-direction: row;
      margin: 0;
      position: static;

      & > .nav__item {
        margin-right: 2rem;

        &::after {
          background-color: $blue;
          bottom: 0;
          content: '';
          display: block;
          height: 2px;
          left: 0;
          margin: auto;
          opacity: 0;
          position: absolute;
          right: 0;
          transform: scaleX(0);
          transition: 0.25s linear;
          width: 100%;
        }

        &--active,
        &:hover {
          &::after {
            opacity: 1;
            transform: scaleX(1);
            transition: all 0.1s ease;
            width: 100%;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-min(md) {
      justify-content: flex-end;
    }
  }

  &__item {
    border-bottom: 1px solid $grey;
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;

    @include media-min(sm) {
      &:hover {
        .arrow {
          transform: rotate(-90deg);
        }
      }
    }

    @include media-min(md) {
      border-bottom: 0;
      padding: 0.5rem 0;
      width: initial;
    }

    .arrow {
      float: right;
      height: 14px;
      margin: -7px 19px 0 .5rem;
      position: relative;
      transform: rotate(90deg);
      transition: transform 0.15s ease-in-out;
      width: 14px;
      z-index: -1;

      @include media-min(sm) {
        float: none;
        margin: 0 0 0 0.5rem;
        position: absolute;
        top: calc(50% - 14px / 2); //svg height is 14px
        z-index: 0;
      }
    }

    &-link {
      color: currentColor;
      display: block;
      font-weight: 600;
      line-height: 0;
      margin: 0;
      padding: 2rem 0;
      position: relative;
      text-decoration: none;

      @include media-min(md) {
        display: inline-block;
        padding: initial;
      }

      &-level-2 {
        font-weight: 500;
        padding: 1.75rem 0;
        position: static;
        text-transform: capitalize;

        @include media-min(md) {
          padding: 0;
        }
      }
    }

    // a nav level 1 nav item that has level 2 nav under it
    &--has-level-2 {
      @include media-min(md) {
        padding-right: 19px;

        &:hover {
          &::before {
            bottom: -1rem;
            content: '';
            display: block;
            height: 3rem;
            position: absolute;
            right: 0;
            top: 1.5rem;
            width: 7rem;
          }

          .nav__sublist {
            display: flex;
          }
        }
      }
    }

    // a level 2 nav item
    &-level-2 {
      border-bottom: 0;

      &::before {
        display: none;
      }

      &:last-child {
        border-bottom: 0;

        @include media-min(md) {
          border: 0;
        }
      }
    }
  }

  &__sublist {
    color: $black;
    display: none;
    // gap: 1rem 3rem;
    // grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    padding: 0 1.5rem;
    z-index: 1;

    $triangle-size: 13px;

    @include media-min(md) {
      background: $white;
      border: 1px solid $grey;
      box-shadow: $box-shadow;
      margin-top: 1rem;
      padding: 1.5rem;
      position: absolute;
      right: -7rem;
      top: 2.5rem;

      &::before {
        border-color: $grey transparent;
        border-style: solid;
        border-width: 0 $triangle-size $triangle-size;
        content: '';
        display: block;
        position: absolute;
        right: calc(7rem - 10px);
        top: -$triangle-size;
      }

      &::after {
        border-color: $white transparent;
        border-style: solid;
        border-width: 0 calc($triangle-size - 1px) calc($triangle-size - 1px);
        content: '';
        display: block;
        position: absolute;
        right: calc(7rem - 9px);
        top: calc(1px - $triangle-size);
      }
    }

    &--open {
      display: block;
      position: relative;

      &::after {
        display: block;
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        content: '';
        top: 0;
        background-color: $grey;
      }
    }
  }

  &__contact .button {
    text-align: center;
    width: 100%;

    svg {
      float: right;
    }

    @include media-min(sm) {
      text-align: left;
      width: initial;

      svg {
        float: none;
      }
    }
  }

  .social-icons {
    padding: 1rem 0;

    @include media-min(sm) {
      margin: 0;
      padding-top: 0;
    }

    @include media-min(md) {
      display: none;
    }

    &__list {
      margin-bottom: 0;
    }
  }
}
