@import '../reference/reference';

$block: 'page-intro';

.#{$block} {
    &__inner {
        margin: 2rem auto;

        @include media-min(md){
            display: flex;
            margin: 3rem auto;
        }
    }

    &__row {
        @include media-min(md){
            flex-basis: 50%;

            &:first-of-type {
                margin-right: 1.5rem;
            }

            &:last-of-type {
                margin-left: 1.5rem;
            }
        }
    }

    &__summary {
        line-height: 32px;
    }

    &__open-message {
        align-items: center;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-top: 20px;
        text-transform: uppercase;
        margin-bottom: 2rem;

        @include media-min(md) {
          margin-bottom: 2rem;
        }

        svg {
            margin-right: 1rem;
        }
    }

}

.page-home {
    .#{$block}__row {
        @include media-min(md){
            flex-basis: auto;
            
            &:first-of-type {
                width: 57%;
            }

            &:last-of-type {
                width: 43%;
            }
        }
    }
}

