@import '../reference/reference';

$block: 'page-intro';

.#{$block} {
    &__inner {
        margin: 2rem auto;

        @include media-min(md){
            display: flex;
            margin: 3rem auto;
        }
    }

    &__row {
        @include media-min(md){
            flex-basis: 50%;

            &:first-of-type {
                margin-right: 20px;
            }

            &:last-of-type {
                margin-left: 20px;
            }
        }
    }

    &__summary {
        line-height: 34px;
    }

    &__open-message {
        align-items: center;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-top: 20px;
        text-transform: uppercase;

        svg {
            margin-right: 1rem;
        }
    }

}

