@import '../reference/reference';

$block: 'past-exhibits-rollup';

.#{$block} {
    &__inner {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
        @include media-min(md) {
            padding-top: 4.25rem;
            padding-bottom: 4.25rem;
        }
    }

    &__heading {
        margin-bottom: 2rem;

        @include media-min(md) {
            margin-bottom: 3.5rem;
        }
    }

    &__list {
        display: grid;
        // gap: 2rem;
        grid-auto-rows: 1fr;
        list-style: none;
        padding: 0 0 3rem;
        margin: 0;
        width: 100%;

        @include media-min(md) {
            gap: 0 7.5rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        border-top: 1px solid $grey;
        padding: 1.5rem 8px;
    }

    &__link {
        display: flex;
        text-decoration: none;
        color: $black;

        &:hover, &:focus {
            color: $black;
        }
    }

    &__picture {
        margin-right: 28px;
    }

    &__image {
        height: 78px;
        object-fit: cover;
        object-position: center;
        width: 73px;
    }

    &__info {
        &-title {
            font-weight: 700;
        }
    }

    &__button {
        cursor: pointer;
        display: block;
        margin: 0 auto;

        @include media-min(md) {
            margin-top: 4.5rem;
        }
    }
}